{% extends 'base.login.html.twig' %}

{% block title %}User Login{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
